[Unit]
Description=SSH Tunnel %i
Wants=network-online.target NetworkManager-wait-online.service
After=network.target network-online.target NetworkManager-wait-online.service

[Service]
Type=simple
ExecStart=/usr/bin/ssh -vCN %i
KillMode=process
Restart=always
RestartSec=5
SyslogIdentifier=autossh@%i

[Install]
WantedBy=multi-user.target
